{% extends '@main/template.twig' %}


{% block content %}
    <script>
        var methodGroups = {{ groups|raw }};
        var methods = {{ methods|raw }};
    </script>

    {% if request.get('loginSuccessful') and user %}
        <p class="alert alert-success" id="welcome-message">
            You are successfully logged in as {{ user.getFullName() }}. <a href="/logout">Click here to logout.</a>
        </p>
        <script>
            $(function () {
                $('#welcome-message').fadeOut(3000);
            })
        </script>
    {% endif %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Type</td>
                <td>Seller</td>
                <td>PM</td>
                <td>Min/max</td>
                <td>Price per 1 BTC</td>
                {% if user %}
                    <td>Trade</td>
                {% endif %}
            </tr>
        </thead>
    </table>
{% endblock %}