{% extends '@main/template.twig' %}


{% block content %}

    <h3 class="text-center">Login</h3>

    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    {% if request.get('signupSuccess') %}
        <p class="alert alert-success">
            You are successfully registered! You can login now.
        </p>
    {% endif %}

    <form method="post" class="form">
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" class="form-control" id="inputPassword"
                   placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>


{% endblock %}